$focus: #006380;
$white: #fff;

$primary-font-color: #062a4e;
$secondary-font-color: #062A4E;//#333;
$light-font-color: #455a64;
$alert-color: #B73342;

$main-color: #062a4e;
$contrast-color: #fed014;
$contrast-color-bg: rgba(254, 208, 20, 0.7);
$footer-bg: #edf0f1;
$select-bg: #eceff1;

$border-color: #A9A9A9;
