@import "colors.scss";

table thead tr th {
    text-align: right;
    font-size: 16px;
    color: $white-font-color;
    font-weight: normal;
    line-height: unset;
}

table tbody tr td {
    text-align: right;
    font-size: 16px;
}

table td, table th {
    text-align: right;
    line-height: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table th {
    font-weight: 400;
}

.table-header-hidden .table-row.table-header {
    height: 0;
    line-height: 0;
    th {
        font-size: 0;
        height: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 767px) {
    .responsive-table-wrapper{
        position: relative; //for .pinned-header
        &:before {
            content: "שם הקופה";
            width: 100%;
            height: 68px;
            line-height: 68px;
            color: $white-font-color;
            padding-right: 10px;
            background-color: $main-color;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    div.table-wrapper div.scrollable {
        margin-right: 35%;
        margin-left: 0%;
        overflow: scroll;
        height: 300px; // visible area of the table, not including header
        margin-top: 68px;
    }
    .pinned {
        right: 0;
        top: 68px;
        background-color: initial;
        overflow: scroll;
        height: 300px + 68px; // visible area of the right column
        table tr {
            height: auto !important;
        }
    }
    .pinned-header {
        position: absolute;
        right: 35%;
    }
}

