@import "colors";
@import "elements";

.responsive-table-wrapper {
    width: 100%;
    @media only screen and (min-width: 768px) {
        @include webkitScroll(rgba(255, 255, 255, 0.7));
    }
}

.main-table {
    width: 100%;
    height: 300px; // visible area of the table, not including header
    overflow: auto;
}

.responsive-table {
    width: 100%;
}

.table-row {
    height: 40px;
    line-height: 40px;
    background-color: rgba(236, 239, 241, 0.7);
    cursor: pointer;
}

.table-row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.7);
}

.table-row:hover {
    background-color: rgba(254, 208, 19, 0.7);
}

.table-row.table-header {
    background-color: $main-color;
    color: $white-font-color;
}

.table-header-hidden .table-row.table-header {
    height: 0;
    line-height: 0;
    th {
        font-size: 0;
        height: 0;
        padding: 0;
    }
}

.pinned-header {
    width: 100%;
    background-color: $main-color;
    &-table {
        width: calc(100% - 6px); //scroll width
    }
}

.pinned-header-table,
.main-table {
    .table-first-column {
        width: 35%;
    }
    th, td {
        width: calc((100% - 35%) / 7);
    }
}

table thead tr th {
    text-align: right;
    font-size: 16px;
    color: $white-font-color;
    font-weight: normal;
    //line-height: unset;
}

table tbody tr td {
    text-align: right;
    font-size: 16px;
}

table td, table th {
    text-align: right;
    line-height: normal;
    vertical-align: middle;
    //white-space: nowrap;
    //overflow: hidden;
    //text-overflow: ellipsis;
}

table th {
    font-weight: 400;
}


@media only screen and (max-width: 767px) {
    .responsive-table-wrapper {
        position: relative; //for .pinned-header
        &:before {
            content: "שם הקופה";
            width: 100%;
            height: 62px;
            line-height: 62px;
            color: $white-font-color;
            padding-right: 10px;
            background-color: $main-color;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .responsive-table {
        width: 100%;
        height: auto; //removes scrolling
    }

    div.table-wrapper {
        border-right: none;
    }

    div.table-wrapper div.scrollable {
        margin-right: 35%;
        margin-left: 0;
        overflow: scroll;
        height: 300px; // visible area of the table, not including header
    }
    .pinned {
        right: 0;
        top: 0;
        background-color: initial;
        overflow: scroll;
        height: 300px + 68px; // visible area of the right column
        table tr {
            height: auto !important;
        }
    }
    .pinned-header {
        width: calc(100% - 35%);
        margin-right: 35%;
        overflow-x: scroll;
        overflow-y: hidden;
        position: relative; //to ride over :before
        .table-first-column-header {
            display: none;
        }
    }
    .pinned-header-table,
    .responsive-table {
        table-layout: fixed;
        th, td {
            width: 80px;
        }
    }
}

