.report-form-item .report-btn {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #062a4e;
  border-radius: 100px; }

.report-form-item .report-input {
  font-size: 16px;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-right: 20px;
  padding-left: 20px; }
  .report-form-item .report-input::-webkit-input-placeholder {
    color: #455a64; }
  .report-form-item .report-input::-moz-placeholder {
    color: #455a64; }
  .report-form-item .report-input:-ms-input-placeholder {
    color: #455a64; }
  .report-form-item .report-input::placeholder {
    color: #455a64; }

.article-item {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  overflow: hidden; }
.article-link {
  display: block; }
.article-figure {
  margin: 0;
  padding: 0;
  background-color: transparent; }
.article-img {
  display: block;
  height: 160px;
  background-size: cover; }
.article-caption {
  height: 70px;
  padding: 10px 20px 5px 10px;
  background: white;
  position: relative; }
  .article-caption .more {
    top: 13px;
    left: 10px; }
.article-title {
  font-size: 18px; }
.article-subtitle {
  font-size: 14px; }

/* Report */
.report-section {
  padding-top: 45px;
  padding-right: 50px;
  padding-bottom: 34px;
  padding-left: 50px;
  background-color: rgba(254, 208, 20, 0.7); }
  @media screen and (max-width: 414px) {
    .report-section {
      padding: 20px 10px;
      order: 3; } }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .report-section {
      padding-right: 50px;
      padding-left: 50px; } }

.report-title {
  text-align: center;
  font-size: 28px;
  font-weight: 600; }
  @media screen and (max-width: 414px) {
    .report-title {
      font-size: 20px; } }

.report-form {
  margin-top: 30px; }
  @media screen and (max-width: 414px) {
    .report-form {
      margin-top: 20px; } }

.report-form-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .report-form-list {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      justify-content: space-between; } }

.report-form-item {
  width: 31%;
  height: 56px;
  margin-bottom: 16px; }
  @media screen and (max-width: 414px) {
    .report-form-item {
      width: 100%; } }
  .report-form-item.select-holder {
    width: 31%;
    height: 56px;
    line-height: 56px;
    margin-bottom: 16px;
    background-color: white;
    position: relative; }
    @media screen and (max-width: 414px) {
      .report-form-item.select-holder {
        width: 100%;
        margin-right: 0; } }
    .report-form-item.select-holder .select {
      display: inline-block;
      font-family: "Open Sans Hebrew", sans-serif;
      font-size: 16px;
      color: #062a4e;
      width: 100%;
      height: 100%;
      padding: 10px 20px;
      background-color: transparent;
      border: 0;
      border-radius: 0;
      outline: 0;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      vertical-align: top;
      position: relative;
      z-index: 1; }
    .report-form-item.select-holder .select::-ms-expand {
      display: none; }
    .report-form-item.select-holder .select:disabled {
      pointer-events: none;
      opacity: 0.5; }
    .report-form-item.select-holder .select-arrow {
      display: inline-block;
      width: 56px;
      height: 56px;
      line-height: 56px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #eceff1;
      background-image: url("../img/ddl-arrow.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 24px 24px; }

/*# sourceMappingURL=section-report.css.map */
