@import "colors.scss";
@import "variables.scss";
@import "compatibility.scss";
@import "elements.scss";

/* Report */

.report-section {
    padding-top: 45px;
    padding-right: 50px;
    padding-bottom: 50px - $block-margin;
    padding-left: 50px;
    background-color: $contrast-color-bg;
    order: 3;
    @include respond-to(handhelds) {
        padding: 20px 10px;
    }
    @include respond-to(small-screens-strict) {
        padding-right: $small-screen-horz-margin;
        padding-left: $small-screen-horz-margin;
    }
}

.report-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    @include respond-to(handhelds) {
        font-size: 20px;
    }
}

.report-form {
    margin-top: 30px;
    @include respond-to(handhelds) {
        margin-top: 20px;
    }
}

.report-form-list {
    @include flexbox;
    @include justify-content(space-evenly);
    @include align-items(center);
    @include flex-wrap;
    @include respond-to(small-screens-strict) {
        @include justify-content(space-between);
    }
}

.report-form-item {
    width: 31%;
    height: $input-height;
    margin-bottom: $block-margin;
    @include respond-to(handhelds) {
       width: 100%;
    }

    &.select-holder {
        @include select(31%);
    }

    .report-btn {
        @extend %btn-primary;
    }

    .report-input {
        @extend %input;
    }
}

