/* Table section*/
.table-section {
  padding: 40px 70px;
  background: url("../img/bg-01.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 414px) {
    .table-section {
      padding: 20px; } }

.table-section-title {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 20px; }
  @media screen and (max-width: 414px) {
    .table-section-title {
      font-size: 18px; } }

.table-container {
  flex-grow: 1; }
  @media screen and (max-width: 414px) {
    .table-container {
      width: 100%; } }

.table-sidebar {
  width: 300px;
  margin-right: 20px; }
  @media screen and (max-width: 414px) {
    .table-sidebar {
      margin-right: 0; } }

/* Table container */
.table-wrapper {
  max-width: 956px;
  margin-bottom: 16px; }

.table-filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.dd-filter {
  width: 22%;
  height: 56px;
  line-height: 56px;
  margin-right: 1%;
  margin-bottom: 16px;
  padding-right: 19px;
  background-color: white;
  position: relative; }
  @media screen and (max-width: 414px) {
    .dd-filter {
      width: 100%;
      margin-right: 0; } }
  .dd-filter .ddl-arrow-container {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    left: 0;
    background-color: #eceff1; }
  .dd-filter .ddl-arrow-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/ddl-arrow.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 16px;
    left: 16px; }

.search-fund {
  width: 31%;
  height: 56px;
  line-height: 56px;
  margin-right: 0;
  margin-bottom: 16px;
  padding-right: 19px;
  background-color: white;
  position: relative; }
  @media screen and (max-width: 414px) {
    .search-fund {
      width: 100%;
      margin-right: 0; } }
  .search-fund .ddl-arrow-container {
    display: inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    left: 0;
    background-color: #eceff1; }
  .search-fund .ddl-arrow-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url("../img/ddl-arrow.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 16px;
    left: 16px; }

.bounds {
  height: 56px;
  line-height: 56px;
  margin-bottom: 16px;
  padding-right: 20px;
  background-color: white; }

.table-row {
  display: flex;
  justify-content: space-around;
  padding: 6px 0;
  background-color: rgba(236, 239, 241, 0.7);
  cursor: pointer; }

.table-row:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7); }

.table-row:hover {
  background-color: rgba(254, 208, 19, 0.7); }

.table-row.table-header {
  height: 60px;
  line-height: 60px;
  background-color: #062a4e;
  color: #f7f7f7; }

.table-cell {
  width: 12%;
  height: 40px;
  line-height: 40px;
  text-align: center; }

/* Articles sidebar */
.article-item {
  width: 100%;
  margin-bottom: 16px;
  overflow: hidden; }
  .article-item:nth-child(1) .article-img {
    background: url("../img/box-cover-01.jpeg") no-repeat center; }
  .article-item:nth-child(2) .article-img {
    background: url("../img/box-cover-02.jpeg") no-repeat center; }
  .article-item:nth-child(3) .article-img {
    background: url("../img/box-cover-03.jpeg") no-repeat center; }
.article-link {
  display: block; }
.article-figure {
  margin: 0;
  padding: 0;
  background-color: transparent; }
.article-img {
  display: block;
  height: 160px;
  background-size: cover; }
.article-caption {
  height: 70px;
  padding: 10px 20px 5px 10px;
  background: white;
  position: relative; }
  .article-caption .more {
    top: 13px;
    left: 10px; }
.article-title {
  font-size: 18px;
  margin-bottom: 5px; }
.article-subtitle {
  font-size: 14px; }

/*# sourceMappingURL=section-table.css.map */
