@import "colors.scss";
@import "variables.scss";
@import "reset.scss";
@import "compatibility.scss";
@import "elements.scss";

/* Reviews */
.reviews-section {
    margin-bottom: 50px;
    background: url('../img/bg-02.jpg') no-repeat center;
    background-size: cover;
    @include flexbox;
    @include flex-wrap;
    @include justify-content(space-evenly);
}

.reviews-wrapper {
    width: 64%;
    padding-bottom: 50px;
    @include flexbox;
    @include flex-wrap;
    @include justify-content(space-evenly);
    @media screen and (max-width: $break-point-p) {
        width: 100%;
    }
}

.request-wrapper {
    width: 36%;
    @media screen and (max-width: $break-point-p) {
        width: 300px;
    }
}

.reviews-article {
    @extend %article;
    padding: 20px;
}

.reviews-header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
}

    /* Survey */
.survey-header {
    margin-bottom: 8px;
}

.survey-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.survey-link {
    font-weight: bold;
    margin-top: 20px;
    &:hover {
        text-decoration: underline;
    }
}

/* Guides */
.guides-subsection {
    .article-item {
        width: 340px;
        @media screen and (max-width: $break-point-p) {
            width: 280px;
        }
        &:nth-child(1) .article-img {
            background: url('../img/box-cover-001.jpeg') no-repeat center;
            background-size: cover;
        }
        &:nth-child(2) .article-img {
            background: url('../img/box-cover-002.jpeg') no-repeat center;
            background-size: cover;
        }
    }
}


/* Request */
.request-subsection {
    height: calc(100% - 20px - 20px);
    text-align: center;
    padding: 30px 50px;
    margin: 20px 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: $break-point-p) {
        height: auto;
        margin: 0;
        padding: 30px 20px;
    }
}

.request-header {
    font-size: 22px;
    font-weight: 600;
    @media screen and (max-width: $break-point-p) {
        font-size: 20px;
    }
}

.request-input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    @include placeholder($light-font-color);
}

.request-check-container {
    text-align: right;
    margin-top: 20px;
}

.request-check-label {
    color: $white;
    margin-right: 10px;
}

.request-btn {
    @extend %btn-primary;
    margin-top: 20px;
}