/* Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  font-family: Open Sans Hebrew, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  border: none; }

a {
  display: inline-block;
  color: inherit;
  text-decoration: none; }

button {
  border: none;
  background-color: transparent; }

.request-btn {
  font-size: 14px;
  color: #fff;
  width: 100%;
  height: 56px;
  line-height: 56px;
  background-color: #062a4e;
  border-radius: 100px; }

.request-input {
  font-size: 16px;
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding-right: 20px;
  padding-left: 20px; }
  .request-input::-webkit-input-placeholder {
    color: #455a64; }
  .request-input::-moz-placeholder {
    color: #455a64; }
  .request-input:-ms-input-placeholder {
    color: #455a64; }
  .request-input::placeholder {
    color: #455a64; }

.article-item {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  overflow: hidden; }
.article-link {
  display: block; }
.article-figure {
  margin: 0;
  padding: 0;
  background-color: transparent; }
.article-img {
  display: block;
  height: 160px;
  background-size: cover; }
.article-caption {
  height: 70px;
  padding: 10px 20px 5px 10px;
  background: white;
  position: relative; }
  .article-caption .more {
    top: 13px;
    left: 10px; }
.article-title {
  font-size: 18px; }
.article-subtitle {
  font-size: 14px; }

.reviews-section {
  margin-bottom: 50px;
  background: url("../img/bg-02.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 414px) {
    .reviews-section {
      order: 2; } }

/* Reviews */
.reviews-wrapper {
  width: 64%;
  padding-bottom: calc(50px - 16px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  -webkit-justify-content: space-evenly;
  -moz-justify-content: space-evenly;
  justify-content: space-evenly; }
  @media screen and (max-width: 768px) {
    .reviews-wrapper {
      width: 100%; } }

.request-wrapper {
  width: 36%; }
  @media screen and (max-width: 768px) {
    .request-wrapper {
      width: 100%; } }

.reviews-block {
  width: 42%; }
  @media screen and (max-width: 414px) {
    .reviews-block {
      width: 100%;
      padding-right: 20px;
      padding-left: 20px; } }

.reviews-header {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px; }

/* Survey */
/* Guides */
/* Request */
.request-subsection {
  height: calc(100% - 20px - 50px);
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0 50px 20px;
  background-color: rgba(255, 255, 255, 0.4); }
  @media screen and (max-width: 414px) {
    .request-subsection {
      height: auto;
      margin: 0;
      padding: 30px 20px; } }
  @media screen and (min-width: 415px) and (max-width: 768px) {
    .request-subsection {
      margin-right: 50px;
      margin-left: 50px; } }

.request-header {
  font-size: 22px;
  font-weight: 600; }
  @media screen and (max-width: 414px) {
    .request-header {
      font-size: 20px; } }

.request-input {
  margin-top: 20px; }

.request-check-container {
  text-align: right;
  margin-top: 20px; }

.request-check-label {
  color: #fff;
  margin-right: 10px; }

.request-btn {
  margin-top: 20px; }

/*# sourceMappingURL=section-reviews.css.map */
