@import "colors.scss";
@import "variables.scss";
@import "compatibility.scss";
@import "elements.scss";

/* Table section*/

.table-section {
    padding: 40px 70px;
    background: url('../img/bg-01.jpg') no-repeat center;
    background-size: cover;
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap(wrap);
    @media screen and (max-width: $break-point-p) {
        padding: 20px;
    }
}

.table-section-title {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 20px;
    @media screen and (max-width: $break-point-p) {
        font-size: 18px;
    }
}

.table-container {
    flex-grow: 1;
    @media screen and (max-width: $break-point-p) {
       width: 100%;
    }
}

.table-sidebar {
    width: 300px;
    margin-right: 20px;
    @media screen and (max-width: $break-point-p) {
        margin-right: 0;
    }
}

/* Table container */
.table-wrapper {
    max-width: $table-max-width;
    margin-bottom: $block-margin;
}

.table-filters {
    @include flexbox;
    @include flex-wrap;
    @include justify-content;
}

.select-holder {
    @include select;
}

.search-fund {
    @include select(31%);
}

.bounds {
    height: $input-height;
    line-height: $input-height;
    margin-bottom: $block-margin;
    padding-right: 20px;
    background-color: white;
}

//Table
.responsive-table-wrapper {
    width: 100%;
    max-height: 580px;
    overflow: auto;
}

.table-row {
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    background-color: rgba(236, 239, 241, 0.7);
    cursor: pointer;
}

.table-row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.7);
}

.table-row:hover {
    background-color: rgba(254, 208, 19, 0.7);
}

.table-row.table-header {
    height: 60px;
    line-height: 60px;
    background-color: $main-color;
    color: #f7f7f7;
}

.table-cell {
    width: 12%;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

