/* Reviews */
.reviews-section {
    display: flex;
    margin-bottom: 50px;
    background: url('../img/bg-02.jpg') no-repeat center;
    background-size: cover;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.reviews-wrapper {
    display: flex;
    width: 66.6%;
    padding-top: 30px;
    padding-bottom: 50px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.reviews-block {
}

.reviews-article {
    width: 340px;
    height: 210px;
    padding: 20px;
    background-color: #fff;
}
.reviews-article:not(:last-child) {
    margin-bottom: 20px;
}

.reviews-header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 30px;
}

/* Survey */
.survey-header {
    margin-bottom: 8px;
}

.survey-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.survey-link {
    font-weight: bold;
    margin-top: 20px;
}

.survey-link:hover {
    text-decoration: underline;
}

/* Guides */
.guides-article {
    width: 340px;
    height: 210px;
    background-color: #fff;
}
.guides-article:not(:last-child) {
    margin-bottom: 20px;
}

.guides-article .guides-image {
    display: block;
    height: 140px;
    margin-bottom: 5px;
    /*background-color: $contrast-color;*/
}

.guides-article:nth-child(2) .guides-image {
    background: url('../img/box-cover-001.jpeg') no-repeat center;
    background-size: cover;
}

.guides-article:nth-child(3) .guides-image {
    background: url('../img/box-cover-002.jpeg') no-repeat center;
    background-size: cover;
}

.guides-footer {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

.guides-footer .more {
    top: 7px;
    left: 10px;
}

.guides-title {
    font-size: 18px;
    margin-bottom: 5px;
}

/* Request */
.request-subsection {
    text-align: center;
    width: 33.3%;
    padding: 30px 50px;
    margin: 20px 0 20px 20px;
    background-color: rgba(255, 255, 255, 0.4);
}

.request-header {
    font-size: 22px;
    font-weight: 600;
}

.request-input {
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
    background-color: #f7f7f7;
}
.request-input::placeholder {
    color: #455a64;
}

.request-check-container {
    text-align: right;
    margin-top: 20px;
}

.request-check-label {
    color: #fff;
    margin-right: 10px;
}

.request-btn {
    @extend %btn-primary;
    margin-top: 20px;
}