@import "colors.scss";
@import "variables.scss";
@import "reset.scss";
@import "compatibility.scss";
@import "elements.scss";

.reviews-section {
    margin-bottom: $section-margin;
    background: url('../img/bg-02.jpg') no-repeat center;
    background-size: cover;
    @include flexbox;
    @include flex-wrap;
    @include justify-content(space-evenly);
}

/* Reviews */
.reviews-wrapper {
    width: 64%;
    padding-bottom: calc(#{$section-margin} - #{$block-margin});
    @include flexbox;
    @include flex-wrap;
    @include justify-content(space-evenly);
    @media screen and (max-width: $break-point-p) {
        width: 100%;
    }
}

.request-wrapper {
    width: 36%;
    @media screen and (max-width: $break-point-p) {
        width: 100%;
    }
}

.reviews-block {
    width: 42%;
    @media screen and (max-width: $break-point-p) {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.reviews-header {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: $white;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Survey */
//.survey-header {
//    margin-bottom: 8px;
//}
//
//.survey-title {
//    font-size: 18px;
//    margin-bottom: 5px;
//}
//
//.survey-link {
//    font-weight: bold;
//    margin-top: 20px;
//    &:hover {
//        text-decoration: underline;
//    }
//}

/* Guides */
.guides-subsection {

}


/* Request */
.request-subsection {
    height: calc(100% - 20px - #{$section-margin});
    text-align: center;
    padding: 30px 50px;
    margin: 20px 0 $section-margin 20px;
    background-color: rgba(255, 255, 255, 0.4);
    @media screen and (max-width: $break-point-p) {
        height: auto;
        margin: 0;
        padding: 30px 20px;
    }
}

.request-header {
    font-size: 22px;
    font-weight: 600;
    @media screen and (max-width: $break-point-p) {
        font-size: 20px;
    }
}

.request-input {
    @extend %input;
    margin-top: 20px;
}

.request-check-container {
    text-align: right;
    margin-top: 20px;
}

.request-check-label {
    color: $white;
    margin-right: 10px;
}

.request-btn {
    @extend %btn-primary;
    margin-top: 20px;
}