//Ayalon Neemanim Project
//Kav Mashva
//by Praedicta

//Ivanova Natalia, 2018

@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);

@import "colors.scss";
@import "variables.scss";
@import "reset.scss";
@import "compatibility.scss";
@import "elements.scss";


.sr-only {
    display: none;
}

.more{
    width: 45px;
    height: 45px;
    background: url('../img/more.svg') no-repeat center;
    position: absolute;
}

* {
    box-sizing: border-box;
}

/* Common */
html{
    font-size: 14px;
}

body {
    direction: rtl;
    text-align: right;
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    color: $secondary-font-color;
    line-height: normal;
    background-color: $white;
}

/* Main content */
.main-content {
    width: 90%;
    max-width: $max-width;
    margin: 0 auto;
    @include respond-to(handhelds) {
        width: 100%;
    }
}

/* Subscribe */
.subscribe-section {
    @include flexbox;
    @include flex-wrap;
    margin-bottom: $section-margin;
    position: relative;
}

.subscribe-banner {
    text-align: center;
    color: $white;
    width: 66.6%;
    height: 165px;
    line-height: 165px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), linear-gradient($main-color, $main-color);
    opacity: 0.4;
    @include respond-to(handhelds) {
        width: 100%;
        margin-bottom: $section-margin;
    }
}

.subscribe-invitation {
    width: 33.3%;
    padding: 30px 50px;
    background-color: $main-color;
    @include respond-to(handhelds) {
        width: 100%;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.subscribe-title {
    font-size: 16px;
    color: $white;
}

.subscribe-link {
    text-align: center;
    width: 100%;
    height: 56px;
    line-height: 56px;
    color: $primary-font-color;
    font-weight: 600;
    margin-top: 30px;
    background-color: $contrast-color;
}

/* Footer */
.footer {
    height: 150px;
    line-height: 150px;
    background-color: $footer-bg;
    @include respond-to(handhelds) {
        height: auto;
        line-height: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.footer-list {
    @include flexbox;
    @include justify-content(center);
    @include flex-wrap;
}

.footer-item {
    &:not(:last-child):after {
        content: "|";
        padding-right: 2vw;
        padding-left: 2vw;
    }
    @include respond-to(handhelds) {
        &:first-child:after {
            display: none;
        }
    }
}

.footer-item-link {
    width: 20px;
    height: 20px;
}

.footer-item-social {
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
